

  <div class = "row text-center">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Leave a comment!</h1>
          <% @doctor.comments.each do |comment| %>
          <div class="well">
            <p id="date"><%= comment.created_at.to_date %></p>
            <a href='comments/<%= comment.id %>'<p id="date"><p><%=comment.body %></p></a>
          </div>
      <% end %>
    </div>
   </div>
  </div>

  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to 'Back', doctor_path(params[:doctor_id]), class: 'btn btn-info' %>
    <%= link_to 'New', new_doctor_comment_path, class: 'btn btn-success' %>
  </div>
