<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <ul class="weather">
        <li><%= @weather["current_observation"]["display_location"]["full"]%>
            Weather <%= @weather["current_observation"]["display_location"]["zip"]%></li>
            <li><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
<%= @weather["current_observation"]["temperature_string"]%></li>
             <li><%= @weather["current_observation"]["weather"]%></li>
             <li>Wind <%= @weather["current_observation"]["wind_mph"]%> mph</li>
             <li>Dew <%= @weather["current_observation"]["dewpoint_f"]%> F</li>
             <li>Humidity <%= @weather["current_observation"]["relative_humidity"]%></li>

      </ul>
    </div>
  </div>
</div>
<% @doctors.each do |doctor| %>
  <div class="row">
    <div class="col-md-3">
        <img class="doctor-img" src= <%= doctor.photo %> />
    </div>
    <div class="col-md-6">
       <h1><%= doctor.name %></h1>
       <h3><span class="glyphicon glyphicon-plus glyph-style" aria-hidden="true"></span> <%= doctor.specialty %></h3>
         <div class="well doctor-description-style">
            <p>
              <h3>About me</h3>
               <blockquote><%= doctor.description %></blockquote>
            </p>
            <%= link_to 'View reviews', doctor_path(doctor), class: 'btn btn-primary' %>
         </div>
    </div>
    <div class="col-md-3 twitter">
      <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">do u ever get in those moods where everything feels mixed up &amp; ur sitting there trying to figure out whats wrong but u just don&#39;t know</p>&mdash; Funny Tweets™ (@Lmao) <a href="https://twitter.com/Lmao/status/667114590824701952">November 18, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
<% end %>
