<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <ul class="weather">
        <li><%= @weather["current_observation"]["display_location"]["full"]%>
            Weather <%= @weather["current_observation"]["display_location"]["zip"]%></li>
            <li><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
<%= @weather["current_observation"]["temperature_string"]%></li>
             <li><%= @weather["current_observation"]["weather"]%></li>
             <li>Wind <%= @weather["current_observation"]["wind_mph"]%> mph</li>
             <li>Dew <%= @weather["current_observation"]["dewpoint_f"]%> F</li>
             <li>Humidity <%= @weather["current_observation"]["relative_humidity"]%></li>

      </ul>
    </div>
  </div>
</div>
<% @doctors.each do |doctor| %>
  <div class="row">
    <div class="col-md-3">
        <img class="doctor-img" src= <%= doctor.photo %> />
    </div>
    <div class="col-md-6">
       <h1><%= doctor.name %></h1>
       <h3><span class="glyphicon glyphicon-plus glyph-style" aria-hidden="true"></span> <%= doctor.specialty %></h3>
         <div class="well doctor-description-style">
            <p>
              <h3>About me</h3>
               <blockquote><%= doctor.description %></blockquote>
            </p>
            <%= link_to 'View reviews', doctor_path(doctor), class: 'btn btn-primary' %>
         </div>
    </div>
    <div class="col-md-3 twitter">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">CDC director: What we&#39;re doing about the Zika virus <a href="https://t.co/YYroYDwzLU">https://t.co/YYroYDwzLU</a> <a href="https://t.co/9tIFuVvAtX">pic.twitter.com/9tIFuVvAtX</a></p>&mdash; CNN (@CNN) <a href="https://twitter.com/CNN/status/694138127636664323">February 1, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <!-- ERICA: Another opportunity to work in a third-party API -->
    </div>
  </div>
<% end %>
