<%= link_to 'Secret comments', doctor_comments_path(@doctor), class: 'btn btn-info text-left secret-comments' %>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img class="doctor-img" src = <%= @doctor.photo %> />
      <h1><%= @doctor.name %></h1>
      <h3><span class="glyphicon glyphicon-plus glyph-style" aria-hidden="true"></span> <%= @doctor.specialty %></h3>
        <div class="well doctor-description-style">
           <p>
             <h3>About me</h3>
              <blockquote><%= @doctor.description %></blockquote>
           </p>
        </div>
    </div>
      <div class="col-md-3 text-center">

          <%= link_to like_doctor_path(@doctor), method: :put do %>
              <span class="glyphicon glyphicon-thumbs-up rating" aria-hidden="true"></span>
              <span class="rating-number"><%= @doctor.get_upvotes.size %></span>
            <% end %>

            <br>

          <%= link_to dislike_doctor_path(@doctor), method: :put do %>
            <span class="glyphicon glyphicon-thumbs-down rating" aria-hidden="true"></span>
            <span class="rating-number"><%= @doctor.get_downvotes.size %></span>
          <% end %>
      </div>

      <%= link_to 'Back', doctors_path, class: 'btn btn-warning doctors-show-back-button' %>

      <iframe class="map" width="272.5" height="178" frameborder="0" style="border: 2px solid #46a8da"
      src="https://www.google.com/maps/embed/v1/streetview?location=38.9049%2C-77.0340&key=AIzaSyAhty9IBkZjB44DFNiSoH155Z6a2fglAeA" allowfullscreen></iframe>
      <!-- ERICA: Would LOVE to see you integrate the Mapbox or Googlemaps API here -->

  <div class="col-md-6 col-md-offset-3">

    <div id="disqus_thread"></div>
      <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//mydoc-hailhydra.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?
      ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>
  </div>
</div>
<!-- ERICA: Separation of concerns! Could this js be abstracted into the asset pipeline? -->
