<!DOCTYPE html>
<html>
<head>
  <title>MyDoc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to root_path, class: 'navbar-brand' do %>
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            MyDoc
        <% end %>
     </div>

      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right right-side-nav">
          <li><%= link_to "About", about_path %></li>

          <% if current_user %>
            <li><%= link_to 'Signout', destroy_user_session_path, class: "btn btn-danger", :method => :delete  %></li>
          <% else %>
            <li><%= link_to 'Signup', new_user_registration_path, class: "btn btn-success" %></li>
            <li><%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %></li>
          <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
